# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# ChromaDB
chroma_db/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db